{% extends "base.html" %}
{% block content %}
<div class="home-container">
    <h1>Welcome to Rainigeria Chat</h1>
    {% if current_user.is_authenticated %}
        <p>Welcome back, {{ current_user.username }}! Join a chatroom below:</p>
        <ul>
            {% for room in rooms %}
                <li><a href="{{ url_for('room', room_name=room.name) }}">{{ room.name }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Please <a href="{{ url_for('login') }}">login</a> or <a href="{{ url_for('register') }}">register</a> to start chatting.</p>
    {% endif %}
</div>
{% endblock %}
